body {
  max-width: 1170px;
  margin: 0 auto;
  background: rgba(134, 134, 134, 0.432);
}

.wrapper {
  background: #fff;
  padding-bottom: 20px;
  height: 100%;
}

.rounded-img {
  width: 35%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 2px;
}
